.messages {
    /* margin: 20px; */
    margin-top: 0;

    display: grid;
    grid-template-columns: 2fr 10fr;
}

a {
    text-decoration: none;
}

.textarea {
    width: 100%;
    background-color: #222222;
    color: #fff;
}

.form {
    border: 2px solid #fff;
}

.dialog {
    background-color: #fff;
    height: 600px;

    position: relative;
}

.inner {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;

    height: 420px;
    overflow: auto;
}

.textarea {
    width: 100%;
}

.btn {
    width: 100%;
}