.header {
  margin-bottom: 20px;
  background-color: #222;
  height: 100px;
  line-height: 100px;
}

.header__inner {
  display: flex;
  justify-content: space-around;
}

.header .logo {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.header .login_block {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.header .logout {
  background-color: #DCDCDC;
  color: #000;
  margin: 0 20px;
  background-image: linear-gradient(to left,transparent,transparent 50%,#fff 50%,#fff);
  width: 200px;
  border-radius: 50px;
}