.header {
  margin-bottom: 20px;
  background-color: #222;
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.header .login_block {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.header .logout {
  background-color: #dcdcdc;
  color: #000;
  border-radius: 50px;
  padding: 10px 20px;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #fff 50%,
    #fff
  );
  width: 150px;
  margin-right: 20px;
}
