.nav {
  height: 350px;
  width: 200px;

  padding: 20px;

  grid-area: nav;

  display: flex;
  flex-direction: column;

  background-color: #222;
  color: #777;

  text-transform: lowercase;

  margin-right: 20px;
}

.nav a {
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 100;
  transition: color 0.2s linear;

  text-decoration: none;
}

.nav a:hover {
  color: #fff;
}

.nav a.active {
  color: #fff;
  text-decoration: underline;
}
