.nav {
  height: 500px;
  width: 300px;

  padding: 30px;

  grid-area: nav;

  display: flex;
  flex-direction: column;

  background-color: #222;
  color: #777;

  text-transform: lowercase;
}

.nav a {
  color: #777;
  padding: 5px;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 300;
  transition: color .2s linear;

  text-decoration: none;
}
  
.nav a:hover {
  color: #fff;
}

.nav a.active {
  color: #fff;
  text-decoration: underline;
}