.dialog_block {
    background-color: #fff;
    height: 500px;

    position: relative;
}

.inner {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    border: 2px solid #fff;
}

.content {
    display: flex;
    flex-direction: column;
}

.text {
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    color: #fff;
}

.me {
       background-color: #222;
       float: right;
   }

.other {
    background-color: #222;
    float: left;
}

.textarea {
    width: 100%;
}

.btn {
    width: 100%;
}