@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic");

/* Полоса прокрутки */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

body {
  margin: 0;
  color: #fff;
  background: #DCDCDC;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
}

button,
button:active,
button:focus {
  outline: none;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

::selection {
 background-color: #000;
 color: #fff;
}

::-moz-selection {
 background-color: #000;
 color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
margin: 0;
}

p {
margin: 0 0 5px;
}

.app-wrapper { 
  display: grid;
 
  grid-template-areas:
  "nav info info"
  "nav info info";
  grid-template-rows: 3fr 9fr;
  grid-template-columns: 4fr 8fr;

  width: 100%;
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
